@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 300;
    src:
        local("KoPubWorld-Dotum-Light"),
        url("../../fonts/KoPubWorld-Dotum-Light.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 400;
    src:
        local("KoPubWorld-Dotum-Medium"),
        url("../../fonts/KoPubWorld-Dotum-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Dotum";
    font-style: normal;
    font-weight: 700;
    src:
        local("KoPubWorld-Dotum-Bold"),
        url("../../fonts/KoPubWorld-Dotum-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Batang";
    font-style: normal;
    font-weight: 300;
    src:
        local("KoPubWorld-Batang-Light"),
        url("../../fonts/KoPubWorld-Batang-Light.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Batang";
    font-style: normal;
    font-weight: 400;
    src:
        local("KoPubWorld-Batang-Medium"),
        url("../../fonts/KoPubWorld-Batang-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "KoPubWorld Batang";
    font-style: normal;
    font-weight: 700;
    src:
        local("KoPubWorld-Batang-Bold"),
        url("../../fonts/KoPubWorld-Batang-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src:
        local("Lato-Bold"),
        url("../../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "GmarketSans";
    font-style: normal;
    font-weight: 700;
    src:
        local("GmarketSansTTFBold"),
        url("../../fonts/GmarketSansTTFBold.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

.user-layout {
    font-family:
        "KoPubWorld Dotum", "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
        sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #222;
}

.user-layout input,
.user-layout select,
.user-layout button,
.user-layout textarea,
.user-layout table {
    font-family:
        "KoPubWorld Dotum", "Noto Sans KR", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
        sans-serif;
}